body {
   
    background-color: rgb(73, 141, 150);
  
}

   

main{
    justify-content: center;
    text-align: center;
}

#tableOne{
    border-style: solid;
}

 
  
  footer{
      color: rgb(77, 121, 121);
  }

